.player-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    height: 100%;
}

.player-area .player-name-header {
    font-weight: bold;
    font-size: 1.5em;
    color: #ffd700 !important;
    text-shadow: 1px 1px 2px #000;
    margin-bottom: 15px;
    text-align: center;
}

.card-stack-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
}

.player-deck {
    margin: 0;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-footer {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}